<!DOCTYPE html>
<html>
	<head>
		<title><%= @about %></title>
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag '/screen', :media => 'screen' %>
		<%= stylesheet_link_tag '/print', :media => 'print' %>
	</head>
	<body>
		<h1>Sobre nós</h1>
		<p>
			Nós somos uma empresa que estamos voltados para atenção dos clientes.
		</p>
	</body>
