<div class="container">

  <section class="round">

    <div class="hero-unit">
      <h1>Sobre Nós</h1>
      <p>Fabio é uma companhia líder medias sociais, focada em apoiar os clientes e seus respectivos negócios.</p>
      <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
</section>
</div>
