<<div class="container">
  <%= render 'layouts/header' %>
  <section class="round">

    <div class="hero-unit">
      <h1>Contate-nós</h1>
      <p>Esse é um canal direto para falar conosco. Seja bem vindo ao portal de relacionamento</p>
    </div>

  </section>

</div>
