<header>

	<%= image_tag("/images/logos.jpg", :alt => "Sample App", :class => "round", height: '100', width: '200') %>
	
	<nav class="round">
		<ul>
			<li>
				<%= link_to "Home", "/" %>
			</li>
			<li>
				<%= link_to "Help", help_path %>
			</li>
			<li>
				<%= link_to "Sign in", '/' %>
			</li>
		</ul>
	</nav>
</header>